@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none; /* IE e Edge antigo */
  scrollbar-width: none;    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge */
}

/* Scrollbar fininha e cinza clara */
.light-scrollbar {
  -ms-overflow-style: auto;
  scrollbar-width: thin;                    /* Firefox */
  scrollbar-color: #e8e8e8 transparent;
}

.light-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.light-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 9999px;
}

/* Scroll horizontal com a barra em cima (CSS hack) */
.top-hscroll {
  overflow-x: auto;
  overflow-y: hidden;

  /* joga a scrollbar pro "top" */
  transform: rotateX(180deg);

  /* opcional: deixa espaço estável pra barra (quando o SO mostra/oculta) */
  scrollbar-gutter: stable both-edges;
}

/* desinverte só o conteúdo */
.top-hscroll__content {
  transform: rotateX(180deg);
}
